body{
    font-family: 'Roboto', sans-serif;
}

.ms-nav{
    height: 4.375rem;
}

.ms-logo{
    height: 100%;
    max-width: 9.375rem;
}
main{
    height: calc(100vh - 4.375rem);
}

aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    color: white;
}
.ms-dash-body{
    overflow-y: auto;
    width: calc(100% - 70px);
}

.ms-tags{
    padding: 25px;
    background-color: yellow;
}