body{
    font-family: 'Roboto', sans-serif;
}

.ms-nav{
    height: 4.375rem;
}

.ms-logo{
    height: 100%;
    max-width: 9.375rem;
}
main{
    height: calc(100vh - 4.375rem);
}

aside{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    color: white;
}
.ms-dash-body{
    overflow-y: auto;
    flex-grow: 1;
}

.ms-size{
    width: 6.25rem;
    text-align: center;
}

.ms-img-table{
    height: 1.875rem;
}

tbody td , .ms-span{
    font-size: 14px;
}

.ms-badge{
    background-color: rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------ */
aside li:hover , aside div:hover{
    background-color: grey;
    cursor: pointer;
}

